<h1>Rooms#index</h1>
<div class="container signup">
  <div class="row">
    <div class="col-3 contact">
    <%if current_user.avatar_url?%>
    <%= image_tag @current_user.avatar_url, class: 'profile-img'%>
    <% else %>
    <%=image_tag("profile.png",class:'profile-img')%>
    <%end%><%= current_user.full_name%>
      <h4> Contacts</h4>
      <div>
        <%= turbo_stream_from "users" %>
        <div id="users">
          <%= render @users %>
        </div>
      </div>
      <h4> Groups </h4>
      <div>
        <%= turbo_stream_from "rooms" %>
        <div id="rooms">
          <%= render @rooms %>
        </div>
      </div>
      <%= render partial: "layouts/new_room_form" %>
    </div>
    <div class="col-9 chat vh-100" id="chatbox" data-controller="scroll">
      <% if @single_room %>
        <h4 class="text-center head"><%= @user&.full_name || @single_room.name %> </h4>
        <%= turbo_stream_from @single_room %>
          <div id="messages">
            <%= render @messages %>
          </div>
        <%= render partial: 'layouts/new_message_form' %>
      <% end %>
    </div>
  </div>
</div>
